{% extends "menu.html" %}
{% block title %}
Bienvenido

{% endblock %}
{% block body %}

<h2 class="espacio">Buscar paciente</h2>   
<h3 class="espacio">Por Nombre, Cedula o Indice de bloque</h3>
<form class="form-group" action="{{ url_for('buscar') }}"  method="post">
  <div class="form-group">
  <label class="label required espacio" for="name">Nombre Completo</label>
    <input class="form-control letras" id="name" name="name" type="text" pattern="[a-zA-Z]*"  placeholder="Solo letras">
  </div>
  
  <div class="form-group">
    <label class="label espacio" for="login">Cedula</label>
    <input class="form-control tam" id="login" name="cedula" type="text"placeholder="Solo numeros de 10 digitos" pattern="[0-9]*" minlength="10" >
</div>

<div class="form-group">
    <label class="label espacio" for="login">Bloque indice</label>
    <input class="form-control tam"  id="login" name="indice" min="0" type="number" placeholder="Solo numeros positivos">    
  </div>
    <button type="submit" class="btn btn-primary espacio" pla>Submit</button>
</form>

  <div id="block">


    {% for i in range(bloques|length) %}
      <!-- {{bloques['index']}}  ---   {{bloques['timestamp']}} --- {{bloques['previous_hash']}} --- {{bloques['own_hash']}} -->
      <table>
          <thead>
            <tr>
              <th >Block number:{{bloques[i]['index']}} </th><th >Timestamp: {{bloques[i]['timestamp']}} </th>
            </tr>
          </thead>
          <tr>
            <td>Previous Hash</td><td style="font-size: 10;">{{bloques[i]['previous_hash']}}</td>
          </tr>
          <tr>
            <td>Own Hash</td><td style="font-size: 10;">{{bloques[i]['own_hash']}}</td>
          </tr>

          <tr>
            <td>Name</td><td >{{info[i]['name']}}</td>
          </tr>
          <tr>
            <td>e-mail</td><td >{{info[i]['email']}}</td>
          </tr>
          <tr>
            <td>phone</td><td >{{info[i]['phone']}}</td>
          </tr>
          <tr>
            <td>cedula</td><td >{{info[i]['cedula']}}</td>
          </tr>
          <tr>
            <td>enfermedades</td> <td>{{info[i]['enfermedades']|join(', ')}}</td>
          </tr>
          <tr>
            <td>Detalles</td> <td>{{info[i]['detalles']}}</td>
          </tr>

      </table>
      <p></p>


    <p></p>
    {% endfor %}


{% endblock %}
