{% extends "menu.html" %}
{% block title %}
Bienvenido

{% endblock %}
{% block body %}


  <div id="block">
  {% if var==0 %}
    <h2 class="espacio">Seleccionado bloque {{bloques['index']}} </h2>   
    <h3 class="espacio">El hash del bloque es el siguiente:</h3>  
    <p class="espacio"> {{h}}</p>

    <table class="espacio">
        <thead>
          <tr>
            <th >Block number:{{bloques['index']}} </th><th >Timestamp: {{bloques['timestamp']}} </th>
          </tr>
        </thead>
        <tr>
          <td>Previous Hash</td><td style="font-size: 10;">{{bloques['previous_hash']}}</td>
        </tr>
        <tr>
          <td>Own Hash</td><td style="font-size: 10;">{{bloques['own_hash']}}</td>
        </tr>
        <tr>
          <td>Name</td><td >{{info['name']}}</td>
        </tr>
        <tr>
          <td>e-mail</td><td >{{info['email']}}</td>
        </tr>
        <tr>
          <td>phone</td><td >{{info['phone']}}</td>
        </tr>
        <tr>
          <td>cedula</td><td >{{info['cedula']}}</td>
        </tr>
        <tr>
          <td>enfermedades</td> <td>{{info['enfermedades']|join(', ')}}</td>
        </tr>
        <tr>
          <td>Detalles</td> <td>{{info['detalles']}}</td>
        </tr>
    </table>

      <br>
      <br>
      {% if success %}
        <h3 class="espacio">Archivo verificado informacion relaiable.</h3>  
        <div class="success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Success!</strong> Archivo sin fallos, el hash realizado coincide con el actual.
        </div>
      {% else %}
        <h3 class="espacio">Archivo corrupto, informacion alterada.</h3>  
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <strong>Danger!</strong> Problema en Archivo, Hash no coincide.
        </div>
      {% endif %}
      <br>
      <br>
  {% endif %}
  {% if var==1 %}
    {% for i in range(bloques|length) %}
      <!-- {{bloques['index']}}  ---   {{bloques['timestamp']}} --- {{bloques['previous_hash']}} --- {{bloques['own_hash']}} -->
      <table class="masEsp">
          <thead>
            <tr>
              <th >Block number:{{bloques[i]['index']}} </th><th >Timestamp: {{bloques[i]['timestamp']}} </th>
            </tr>
          </thead>
          <tr>
            <td>Previous Hash</td><td style="font-size: 10;">{{bloques[i]['previous_hash']}}</td>
          </tr>
          <tr>
            <td>Own Hash</td><td style="font-size: 10;">{{bloques[i]['own_hash']}}</td>
          </tr>

          <tr>
            <td>Name</td><td >{{info[i]['name']}}</td>
          </tr>
          <tr>
            <td>e-mail</td><td >{{info[i]['email']}}</td>
          </tr>
          <tr>
            <td>phone</td><td >{{info[i]['phone']}}</td>
          </tr>
          <tr>
            <td>cedula</td><td >{{info[i]['cedula']}}</td>
          </tr>
          <tr>
            <td>enfermedades</td> <td>{{info[i]['enfermedades']|join(', ')}}</td>
          </tr>
          <tr>
            <td>Detalles</td> <td>{{info[i]['detalles']}}</td>
          </tr>

      </table>

        <form class="form-group masEsp" action="{{ url_for('verificar') }}"  method="post">
          <input class="text-input" type="hidden" id="name" name="name" value="{{bloques[i]['index'] }}" type="text" >
          <button type="submit" class="btn btn-primary espacio"  value="Send">Submit</button>
        </form>

    {% endfor %}
  {% endif %}

{% endblock %}
